
ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color:#e1953f;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  section {
    background-image: url('back.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    
    
}

section label {
  text-align: left;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
    background-color: rgb(244, 229, 164);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="phone"], input[type="address"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

 .btn {
    background-color:#e1953f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.popup{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup h2{
  font-size: 38px;
  font-weight: 500px;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #e1953f;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

  .row{
    width: 100%;
    height:100%;
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
    font-size: 30px;

  }